* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 16px;
    background-image: url("https://previews.123rf.com/images/olhakostiuk/olhakostiuk1905/olhakostiuk190500002/122825994-accesorios-para-mascotas-veterinarias-iconos-de-contorno-patr%C3%B3n-transparente-de-vector-papel-tapiz.jpg");
}

#dogPicture {
    width: 400px;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
    height: 400px;
}

/* ESTILO BOTON */

.button {

    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 5px 30px;
    border: 5px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.nuevoPerrito {

    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 10px 30px;
    border: 5px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.buttonBuscar {

    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 5px 30px;
    border: 5px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#selectBreed {
    border: 5px solid black;
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 5px 30px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}